*{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.main-container{
    display: grid;
    background: #D3755C;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;    
    justify-content: center;
    align-items: center;
}

.wrapper{
    background:rgb(255, 255, 255);
    position: relative;
    /* height:500px; */
    width:650px;
    padding: 20px;
    border-radius: 8px;
}

.cart-wrapper{
    width: 94%;
    height: 60px;
    padding-right:20px;
    font-size: 25px;    
    border-bottom: 1px solid #DEDEDE!important;
}

.selection-wrapper{
    position: relative;    
}

.list-item li{
    list-style:none;
    width: 94%;
    padding:20px;
    margin-top: 5px;
    border-radius: 5px;
    font-weight: 500;
    /* position:absolute; */
}

.list-item li:hover{
    cursor: pointer;
    background:#eeeeee
}